<style>
  body {
    background: url(images/rect817.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .jumbotron {
  background: #841138;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  }

  .site-title {
    top: 40px;
    left: 300px;
    color: #facf06;
    font-size: 32px;
    font-weight: 900;
    font-family: 'Oswald';
  }

  a {
    color: #fdd005;
  }

  a:hover {
    color: #fff;
    text-decorarion: underline;
  }
</style>

<div class="jumbotron">
  <div class="site-title" style="display: inline-block;">
    <img src="images/FCB.png" width="100px;" style="margin-left: 40px;margin-right: 40px;"><a href="http://fcbarcelona.tk"><span>FCB Games</span></a>
  </div>
</div>
